[credential]
	helper = store
[user]
	email = frumgerth@gmail.com
	name = e
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
